* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: rgb(202, 193, 193);
}

#selecter {
  width: 30vw;
  height: 30px;
  /* margin: 20px 0px 0px 50px; */
  margin: auto;
  font-weight: 900;
}
option {
  font-weight: bold;
}
#input-field {
  display: none;
  text-align: center;
}

input {
  margin: 5px 0px 0px 50px;
  font-weight: 900;
  font-size: large;
}

#checkBtn {
  width: 100px;
  height: 40px;
  margin: 15px auto;
  
}

#error-message {
  color: red;
}
#checker-zone {
  display: none;
  width: 80vw;
  height: 80vh;
  background-color: #fff;
  margin: auto;
  text-align: center;
}

#checker-zone #kanji {
  font-size: 10rem;
}

#checker-zone #answer-holder {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.answers {
  margin-top: 2rem;
  width: 40%;
  height: 10vh;
  background: rgb(160, 235, 240);
  border: 3px solid rgb(44, 68, 68);
  border-radius: 20px;
  padding-top: 25px;
  color: rgb(182, 89, 89);
  font-size: 2rem;
  font-weight: bolder;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#score-container {
  margin-top: 50px;
}

.answers:hover {
  background-color: salmon;
}

/* ** Test Overviewing */
#end-test {
  position: relative;
  width: 80vw;
  height: 80vh;
  background-color: #fff;
  display: none;
  margin: auto;
}

#end-score {
  font-size: 20pt;
  text-align: center;
  padding-top: 10%;
}

#wrong-answer-button {
  background-color: aqua;
  border: 2px solid rgb(66, 80, 80);
  border-radius: 10px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  cursor: pointer;
}

#wrong-answer-holder {
  width: 80%;
  height: 40%;
  margin: 20% auto;
  border: 2px solid rgb(87, 143, 136);
  overflow: scroll;
}

#row {
  display: flex;
}
#row div {
  font-size: 2rem;
  width: 50%;
  border-left: 2px solid rgb(87, 143, 136);
  border-bottom: 2px solid rgb(87, 143, 136);
  padding: 5px 0px 5px 15px;
  text-align: left;
}
@media screen and (max-width: 600px) {
  .answers:hover {
    /* add this because hover effect work weird on mobile */
    background-color: rgb(160, 235, 240);
  }
}
